.galleryList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px 10px;
  max-width: 1440px;
  margin: 0 auto 25px;
}
.galleryItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-in;
}

@media only screen and (min-width: 768px) {
  .galleryItem {
    width: calc((100% - 40px) / 3);
  }
}

@media only screen and (min-width: 1440px) {
  .galleryItem {
    width: calc((100% - 72px) / 4);
  }
  .galleryItem:hover {
    transform: scale(1.02);
  }
}
